/* ---------- HEADER ---------- */

.timeline-header {
    display: flex;
    border-bottom: 1px solid #e5e7eb;
    background: #f9fafb;
}

.timeline-header-left {
    width: 138px;
    height: 16px;
    color: rgba(104, 113, 150, 1);
    font-family: CircularStd-Regular;
    font-size: 14px;
    font-weight: 500;
    // padding: 12px 16px;
}

.timeline-header-right {
    display: flex;
    flex: 1;
    overflow-x: auto;
}

.timeline-header-cell {
    width: 86px;
    height: 16px;
    color: rgba(104, 113, 150, 1);
    font-family: CircularStd-Regular;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    // padding: 12px 16px;
    // border: 1px solid;
}